.news-box {
    position: relative;
    min-width: 165px;
    min-height: 165px;
    max-width: 165px;
    max-height: 165px;
    border: 1px solid #353535;
    border-radius: 5px;
    margin: 10px 5px;
    padding: 10px;
    text-align: center;
    align-items: center;
    align-content: center;
    transition: border 0.3s ease, box-shadow 0.3s ease, font-size 0.3s ease;
    animation: dealCard 0.5s ease-out;
    transform-origin: center bottom;
    animation-fill-mode: forwards;
    z-index: 1;
}

.news-box:hover {
    border: 1px solid transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 0 0 15px 0 #6e0979, 0 0 15px 0 #0900bd, 0 0 25px 0 #2cc7d6;
    font-size: 17px;
}

.news-data {
    background-color: rgba(52, 52, 52, 85%);
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    position: fixed;
    max-width: 330px;
    max-height: 330px;
    font-size: 15px;
    pointer-events: none;
    /* Prevents the popup from interfering with mouse events */
}

.viral-news {
    color: #ff4c4c;
    font-size: 18px;
    font-weight: 600;
    margin: 0 auto;
    text-align: center;
}

/* Makes the news boxes appear like cards being dealt into a table */
@keyframes dealCard {
    0% {
        transform: translate(-50vh, 33%);
        opacity: 0;
    }

    20% {
        opacity: 1;
    }

    100% {
        transform: translate(0, 0);
        opacity: 1;
        z-index: 0;
    }
}